<html>
  <head>
    <title>Effects</title>
  </head>
  <body>
    <h1>Things</h1>
    <ul>
    {{#things}}
      <li>{{.}}</li>
    {{/things}}
    </ul>
    <h2>Add a thing</h2>
    <form action="" method="post">
      <input name="thing" type="text" size="10" />
      <input type="submit" value="add" />
    </form>
    <h2>Add a thang</h2>
    <form action="" method="post">
      <input name="thang" type="text" size="10" />
      <input type="submit" value="add" />
    </form>
  </body>
</html>
